/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: url('pexels-tom-verdoot-1571882.jpg') no-repeat;
    background-size: 200%;
    background-position:center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(29, 29, 29);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #1e82ca;
    font-size: 25px;
    padding: 10px 10px;
    background-color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbar a{
    color: #000000;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    top: 200px;
}

.card{
    background: white ;
    width: 270px;
    height: 400px;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
}

.driver-image{
    background-color: rgb(222, 222, 222);
    height: 250px;
    margin-bottom: 30px;
    background-size: cover;
    border-radius: 20px 20px 0;
}

.Driver-1{
    background-image: url('Per.png');

}

.Driver-2{
    background-image: url('Max-Verstappen-PNG-HD.png');
}

.Driver-3{
    background-image: url('alonso1.jpg');
}

main {
    top: 50px;
    max-width: 800px;
    max-height: 1700px;
    margin: 80px auto 1px;
    margin-top: 200px;
    padding: 20px;
    background-color: #8686867c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.816);
    border-radius: 50px;
    ;
}

.leaderboard {
    margin-left: 10%;
    margin-top: 20px;
    width: 600px;
    .TableTitle {
        text-decoration: none;
        color: #000000;
        font-size: 30px;
        font-weight: bold;
    }
}

.TableHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.driver {
    display: grid;
    grid-template-columns: 1fr 1fr 2.2fr 1fr 1fr 1fr;
    border-bottom: 1px solid #2b2929;
    padding: 10px 0;
}

.position {
    text-align: center;
}

.driver-name {
    padding-left: 10px;
}

.team {
    text-align: center;
}

.points {
    text-align: center;
    font-weight: bold;
    color: #007bff;
}

.driver:nth-child(odd) {
    background-color: #979797;}

.driver:nth-child(even) {
    background-color: #ffffff;
}

.youtube{
    position: absolute;
    margin-left: 150px;
    margin-top: 50px;
    position: relative;
    display:flex; 
    align-items: center;
    justify-content: space-between;
}

.thumbnail1 {
    background-color: rgb(118, 118, 118);
    height: 195px;
    margin-bottom: 50px;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    background-image: url('RaceHighlight.png');
}

.thumbnail2 {
    background-color: rgb(118, 118, 118);
    height: 195px;
    margin-bottom: 50px;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    background-image: url('RaceReaction.png');
}

.thumbnail3{
        background-color: rgb(118, 118, 118);
        height: 195px;
        margin-bottom: 50px;
        background-size: cover;
        border-radius: 20px 20px 0 0;
        background-image: url('QualifyingHighlight.png');
 }

.icon1{
    position: absolute;
    background: #007bff ;
    width: 400px;
    height: 250px;
    text-align: center;
    margin-left: -700px;
    border-radius: 20px;
}

.icon2{
    align-items: center;
    background: #007bff ;
    width: 400px;
    height: 255px;
    text-align:center;
    border-radius: 20px;
}

.icon3{
    position: absolute;
    background: #007bff;
    width: 400px;
    height: 250px;
    text-align: center;
    margin-left: 700px;
    border-radius: 20px;
}

.ScreenShot01{
    background-image: url('RaceHighlight.png');
}

.ScreenShot02{
    background-image: url('RaceReaction.png');
}

.ScreenShot03{
    background-image: url('QualifyingHighlight.png');
}

.title{
    color: #fff;
    position: absolute;
    font-size: 25px;
    margin-top: -50px;
    margin-left: 10px;
}

.duration{
    color: #ffffff;
    position:absolute;
    font-size: 20px;
    font-weight: 700;
    margin-top: -20px;
    margin-left: 10px;
}

.thumbnail .ScreenShot01{
    background-image: url('RaceHighlight.png');
}

.blox_bottom {
    margin-top: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 280px;
    padding: 20px 100px;
    background:rgb(29, 29, 29);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
}


